<section class="section section-lg">
  <div class="container">
    <h2>Animated Progress Bars</h2>
    <div class="in-progress">
      <span class="text-left">Primary</span>
      <div class="progress progress-striped active">
        <div role="progressbar progress-striped" style="width: 40%;" class="progress-bar"></div>
      </div>
      <span class="text-left">Dark</span>
      <div class="progress progress-striped active">
        <div role="progressbar " style="width: 50%;" class="progress-bar progress-bar-secondary">
        </div>
      </div>
      <span class="text-left">Default</span>
      <div class="progress progress-striped active">
        <div role="progressbar " style="width: 60%;" class="progress-bar progress-bar-default"></div>
      </div>
      <span class="text-left">Success</span>
      <div class="progress progress-striped active">
        <div role="progressbar " style="width: 70%;" class="progress-bar progress-bar-success"></div>
      </div>
      <span class="text-left">Info</span>
      <div class="progress progress-striped active">
        <div role="progressbar " style="width: 80%;" class="progress-bar progress-bar-info"></div>
      </div>
      <span class="text-left">Warning</span>
      <div class="progress progress-striped active">
        <div role="progressbar " style="width: 90%;" class="progress-bar progress-bar-warning"></div>
      </div>
      <span class="text-left">Danger</span>
      <div class="progress progress-striped active">
        <div role="progressbar" style="width: 95%;" class="progress-bar progress-bar-danger"></div>
      </div>
    </div>
  </div>
  <br><br>
  <div class="container">
    <h2>Buttons</h2>
    <h4>Animated Border Buttons</h4>
    <p>Hover to animate</p>
    <div class="row">
      <div class="col">
        <button class="a-btn a-btn-primary">
          <span>
            <span>
              <span>Primary</span>
            </span>
          </span>
        </button>
      </div>
      <div class="col">
        <button class="a-btn a-btn-dark">
          <span>
            <span>
              <span>Dark</span>
            </span>
          </span>
        </button>
      </div>
      <div class="col">
        <button class="a-btn a-btn-success">
          <span>
            <span>
              <span>Success</span>
            </span>
          </span>
        </button>
      </div>
      <div class="col">
        <button class="a-btn a-btn-warning">
          <span>
            <span>
              <span>Warning</span>
            </span>
          </span>
        </button>
      </div>

      <div class="col">
        <button class="a-btn a-btn-danger">
          <span>
            <span>
              <span>Danger</span>
            </span>
          </span>
        </button>
      </div>
    </div>
    <br>
    <h4>Material Buttons</h4>
    <p>Without outline : Active</p>
    <div class="row">
      <div class="col">
        <button class="butn butn-primary">Primary</button>
      </div>
      <div class="col">
        <button class="butn butn-dark">Dark</button>
      </div>
      <div class="col">
        <button class="butn butn-success">Success</button>
      </div>
      <div class="col">
        <button class="butn butn-warning">Warning</button>
      </div>
      <div class="col">
        <button class="butn butn-danger">Danger</button>
      </div>
    </div>
    <br>
    <p>Small Buttons Without outline : Active</p>
    <div class="row">
      <div class="col">
        <button class="butn-sm butn-primary">Primary</button>
      </div>
      <div class="col">
        <button class="butn-sm butn-dark">Dark</button>
      </div>
      <div class="col">
        <button class="butn-sm butn-success">Success</button>
      </div>
      <div class="col">
        <button class="butn-sm butn-warning">Warning</button>
      </div>
      <div class="col">
        <button class="butn-sm butn-danger">Danger</button>
      </div>
    </div>
    <br>
    <p>Without outline : Disabled</p>
    <div class="row">
      <div class="col">
        <button disabled="true" class="butn butn-primary">Primary</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn butn-dark">Dark</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn butn-success">Success</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn butn-warning">Warning</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn butn-danger">Danger</button>
      </div>
    </div>
    <br>
    <p>Small Buttons Without outline : Disabled</p>
    <div class="row">
      <div class="col">
        <button disabled="true" class="butn-sm butn-primary">Primary</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn-sm butn-dark">Dark</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn-sm butn-success">Success</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn-sm butn-warning">Warning</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn-sm butn-danger">Danger</button>
      </div>
    </div>
    <br>
    <p>With outline : Active</p>
    <div class="row">
      <div class="col">
        <button class="butn butn-primary-outline">Primary</button>
      </div>
      <div class="col">
        <button class="butn butn-dark-outline">Dark</button>
      </div>
      <div class="col">
        <button class="butn butn-success-outline">Success</button>
      </div>
      <div class="col">
        <button class="butn butn-warning-outline">Warning</button>
      </div>
      <div class="col">
        <button class="butn butn-danger-outline">Danger</button>
      </div>
    </div>
    <br>
    <p>Small Buttons With outline : Active</p>
    <div class="row">
      <div class="col">
        <button class="butn-sm butn-primary-outline">Primary</button>
      </div>
      <div class="col">
        <button class="butn-sm butn-dark-outline">Dark</button>
      </div>
      <div class="col">
        <button class="butn-sm butn-success-outline">Success</button>
      </div>
      <div class="col">
        <button class="butn-sm butn-warning-outline">Warning</button>
      </div>
      <div class="col">
        <button class="butn-sm butn-danger-outline">Danger</button>
      </div>
    </div>
    <br>
    <p>With outline : Disabled</p>
    <div class="row">
      <div class="col">
        <button disabled="true" class="butn butn-primary-outline">Primary</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn butn-dark-outline">Dark</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn butn-success-outline">Success</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn butn-warning-outline">Warning</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn butn-danger-outline">Danger</button>
      </div>
    </div>
    <br>
    <p>Small Buttons With outline : Disabled</p>
    <div class="row">
      <div class="col">
        <button disabled="true" class="butn-sm butn-primary-outline">Primary</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn-sm butn-dark-outline">Dark</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn-sm butn-success-outline">Success</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn-sm butn-warning-outline">Warning</button>
      </div>
      <div class="col">
        <button disabled="true" class="butn-sm butn-danger-outline">Danger</button>
      </div>
    </div>
  </div>
</section>
<br><br>
<section class="section section-lg">
  <div class="container">
    <div class="row justify-content-center text-center mb-md">
      <div class="col-lg-8">
        <h2 class="display-3">Our Services</h2>
        <p class="lead text-muted">Quality & Assurance</p>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 shadow--hover">
        <div class="p-4">
          <img src="../../assets/svg/undraw_progressive_app_m9ms.svg" class=" img-center img-fluid"
            style="width: 200px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Crossplatform App Development</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 shadow--hover">
        <div class="p-4">
          <img src="../../assets/svg/undraw_Access_account_re_8spm.svg" class=" img-center img-fluid"
            style="width: 106px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Android & iOS App Development</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 shadow--hover">
        <div class="p-4">
          <img src="../../assets/svg/undraw_finance_0bdk.svg" class=" img-center img-fluid" style="width: 200px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">CMS, CRM, HRMS & Business Application</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 shadow--hover">
        <div class="p-4">
          <img src="../../assets/svg/undraw_web_shopping_dd4l.svg" class=" img-center img-fluid" style="width: 150px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">E-Commerce/Store Management System</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
    <!-- ------------------------------------------------------------------------------------------------------ -->
    <div class="row">
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 shadow--hover">
        <div class="p-4">
          <img src="../../assets/svg/9090.svg" class=" img-center img-fluid" style="width: 103px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">On Demand App Development</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 shadow--hover">
        <div class="p-4">
          <img src="../../assets/svg/undraw_site_content_ihgn.svg" class=" img-center img-fluid" style="width: 115px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Content Services</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 shadow--hover">
        <div class="p-4">
          <img src="../../assets/svg/undraw_ideas_flow_cy7b.svg" class=" img-center img-fluid" style="width: 130px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Technical Consulting</span>
            </h5>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mb-5 mb-lg-0 shadow--hover">
        <div class="p-4">
          <img src="../../assets/svg/undraw_project_team_lc5a.svg" class=" img-center img-fluid" style="width: 240px;">
          <div class="pt-4 text-center">
            <h5 class="title">
              <span class="d-block mb-1">Training Services</span>
            </h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
