.txtp {
    font-weight: 500;
}

.pkg-img {
    border-radius: 5px;
}


.wht-card:hover {
    background-color: #5D4998 !important;

    .wht-text,
    .wht-icon {
        color: white !important;
    }
}