<h2>Buttons</h2>
<h4>Animated Border Buttons</h4>
<p>Hover to animate</p>
<div class="row">
  <div class="col">
    <button class="a-btn a-btn-primary">
      <span>
        <span>
          <span>Primary</span>
        </span>
      </span>
    </button>
  </div>
  <div class="col">
    <button class="a-btn a-btn-dark">
      <span>
        <span>
          <span>Dark</span>
        </span>
      </span>
    </button>
  </div>
  <div class="col">
    <button class="a-btn a-btn-success">
      <span>
        <span>
          <span>Success</span>
        </span>
      </span>
    </button>
  </div>
  <div class="col">
    <button class="a-btn a-btn-warning">
      <span>
        <span>
          <span>Warning</span>
        </span>
      </span>
    </button>
  </div>

  <div class="col">
    <button class="a-btn a-btn-danger">
      <span>
        <span>
          <span>Danger</span>
        </span>
      </span>
    </button>
  </div>
</div>
<br>
<h4>Material Buttons</h4>
<p>Without outline : Active</p>
<div class="row">
  <div class="col">
    <button class="butn butn-primary">Primary</button>
  </div>
  <div class="col">
    <button class="butn butn-dark">Dark</button>
  </div>
  <div class="col">
    <button class="butn butn-success">Success</button>
  </div>
  <div class="col">
    <button class="butn butn-warning">Warning</button>
  </div>
  <div class="col">
    <button class="butn butn-danger">Danger</button>
  </div>
</div>
<br>
<p>Small Buttons Without outline : Active</p>
<div class="row">
  <div class="col">
    <button class="butn-sm butn-primary">Primary</button>
  </div>
  <div class="col">
    <button class="butn-sm butn-dark">Dark</button>
  </div>
  <div class="col">
    <button class="butn-sm butn-success">Success</button>
  </div>
  <div class="col">
    <button class="butn-sm butn-warning">Warning</button>
  </div>
  <div class="col">
    <button class="butn-sm butn-danger">Danger</button>
  </div>
</div>
<br>
<p>Without outline : Disabled</p>
<div class="row">
  <div class="col">
    <button disabled="true" class="butn butn-primary">Primary</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn butn-dark">Dark</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn butn-success">Success</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn butn-warning">Warning</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn butn-danger">Danger</button>
  </div>
</div>
<br>
<p>Small Buttons Without outline : Disabled</p>
<div class="row">
  <div class="col">
    <button disabled="true" class="butn-sm butn-primary">Primary</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn-sm butn-dark">Dark</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn-sm butn-success">Success</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn-sm butn-warning">Warning</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn-sm butn-danger">Danger</button>
  </div>
</div>
<br>
<p>With outline : Active</p>
<div class="row">
  <div class="col">
    <button class="butn butn-primary-outline">Primary</button>
  </div>
  <div class="col">
    <button class="butn butn-dark-outline">Dark</button>
  </div>
  <div class="col">
    <button class="butn butn-success-outline">Success</button>
  </div>
  <div class="col">
    <button class="butn butn-warning-outline">Warning</button>
  </div>
  <div class="col">
    <button class="butn butn-danger-outline">Danger</button>
  </div>
</div>
<br>
<p>Small Buttons With outline : Active</p>
<div class="row">
  <div class="col">
    <button class="butn-sm butn-primary-outline">Primary</button>
  </div>
  <div class="col">
    <button class="butn-sm butn-dark-outline">Dark</button>
  </div>
  <div class="col">
    <button class="butn-sm butn-success-outline">Success</button>
  </div>
  <div class="col">
    <button class="butn-sm butn-warning-outline">Warning</button>
  </div>
  <div class="col">
    <button class="butn-sm butn-danger-outline">Danger</button>
  </div>
</div>
<br>
<p>With outline : Disabled</p>
<div class="row">
  <div class="col">
    <button disabled="true" class="butn butn-primary-outline">Primary</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn butn-dark-outline">Dark</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn butn-success-outline">Success</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn butn-warning-outline">Warning</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn butn-danger-outline">Danger</button>
  </div>
</div>
<br>
<p>Small Buttons With outline : Disabled</p>
<div class="row">
  <div class="col">
    <button disabled="true" class="butn-sm butn-primary-outline">Primary</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn-sm butn-dark-outline">Dark</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn-sm butn-success-outline">Success</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn-sm butn-warning-outline">Warning</button>
  </div>
  <div class="col">
    <button disabled="true" class="butn-sm butn-danger-outline">Danger</button>
  </div>
</div>
