<h3>Card Type 1</h3>
<br>
<p>Expand on hover</p>
<div class="row">
  <div class="col-md-4">
    <div class="card card-bg-1">
      <h3>Card</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-bg-2">
      <h3>Card</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-bg-3">
      <h3>Card</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
    </div>
  </div>
</div>
<br><br>
<p>Lift on hover</p>
<div class="row">
  <div class="col-md-4">
    <div class="card card-lift--hover card-bg-1">
      <h3>Card</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-lift--hover card-bg-2">
      <h3>Card</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card card-lift--hover card-bg-3">
      <h3>Card</h3>
      <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s.</p>
    </div>
  </div>
</div>
