.card-bg-1 {
  background-image: url("../../../assets/img/card-bg-1.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 80px;
}
.card-bg-2 {
  background-image: url("../../../assets/img/card-bg-2.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 80px;
}
.card-bg-3 {
  background-image: url("../../../assets/img/card-bg-3.png");
  background-position: right;
  background-repeat: no-repeat;
  background-size: 80px;
}
