<h2>Animated Progress Bars</h2>
<div class="in-progress">
  <span class="text-left">Primary</span>
  <div class="progress progress-striped active">
    <div role="progressbar progress-striped" style="width: 40%;" class="progress-bar"></div>
  </div>
  <span class="text-left">Dark</span>
  <div class="progress progress-striped active">
    <div role="progressbar " style="width: 50%;" class="progress-bar progress-bar-secondary">
    </div>
  </div>
  <span class="text-left">Default</span>
  <div class="progress progress-striped active">
    <div role="progressbar " style="width: 60%;" class="progress-bar progress-bar-default"></div>
  </div>
  <span class="text-left">Success</span>
  <div class="progress progress-striped active">
    <div role="progressbar " style="width: 70%;" class="progress-bar progress-bar-success"></div>
  </div>
  <span class="text-left">Info</span>
  <div class="progress progress-striped active">
    <div role="progressbar " style="width: 80%;" class="progress-bar progress-bar-info"></div>
  </div>
  <span class="text-left">Warning</span>
  <div class="progress progress-striped active">
    <div role="progressbar " style="width: 90%;" class="progress-bar progress-bar-warning"></div>
  </div>
  <span class="text-left">Danger</span>
  <div class="progress progress-striped active">
    <div role="progressbar" style="width: 95%;" class="progress-bar progress-bar-danger"></div>
  </div>
</div>
