<main class="pb-5">
  <div class="position-relative">
    <section class="section section-lg section-hero section-shaped">
      <div class="shape shape-light">
      </div>
      <div class="container shape-container d-flex align-items-center py-lg-0">
        <!-- <div class="pt-4" *ngIf="data.status!==undefined">
          <p><b>Status</b> : {{data.status}}</p>
        </div>
        <div class="pt-4" *ngIf="data.status==undefined">
          <h1>hello</h1>
          <p><b>Message ID</b> : {{data.messageId}}</p>
          <p><b>Message Type</b> : {{data.messageType}}</p>
          <h4>------Values------</h4>
          <p><b>Charging Point Id</b> : {{data.values.chargePointId}}</p>
          <p><b>Connector ID</b> : {{data.values.connectorId}}</p>
          <p [ngClass]="{
            'text-danger':data.values.status=='Offline',
            'text-success':data.values.status=='Online',
            'text-primary':data.values.status=='Available'
          }"><b>Status</b> : {{data.values.status}}</p>
          <p><b>Time</b> : {{data.values.timeStamp|date:"dd-mm-yyyy->hh:mm:ss"}}</p>
          <p><b>Test</b> : {{data.values.test}}</p>
        </div> -->
        <div class="row mt-5 align-items-center justify-content-center">
          <div class="col-lg-6 text-center">
            <h1 class="text-black-50 mainheading">Let's build a better UI</h1>
            <p class="text-black-50 subheading">with a cool design system</p>
            <div class="btn-wrapper mt-5">
              <button class="btn btn-1 btn-neutral floating" type="button">Explore
                Now</button>
            </div>
          </div>
          <div class="col d-none d-md-block "></div>
        </div>
      </div>
    </section>
  </div>
  <br>
  <br>
  <br>
  <app-middle-section></app-middle-section>
</main>
